
#formulaire{
	background-color: rgba(216, 156, 35, 0.2);
	box-shadow: 0px 0px 2px rgba(48, 48, 48, 0.5);
	margin: 0px 10% 20px 10%;
	padding: 30px 2% 30px 2%;
	border-radius: 5px;
}
@media screen and (max-width: 950px){
	#formulaire{ 
		margin: 0px 3% 0px 3%; 
	}}


@media screen and (max-width: 760px){
	#sujet{ width: 500px; }}
@media screen and (max-width: 560px){
	#sujet{ width: 100%;
			max-width:100% }
	#email{ width: 100%;
			max-width:100% }
	#nom{ 	width: 100%;
			max-width:100% }}





#text{
	width: 100%;
	max-width: 100%;
	height: 100px;
}

#envoyer{
	margin-left: 2%;
}

#bullecontactpc{
	margin: 0px 10% 0px 10%;
	padding-right: 5%;
	padding-left: 1%;
	min-height: 200px;
}
@media screen and (max-width: 1400px){
	#bullecontactpc{ display: none; }}

#bullecontacttab{
	display: none;
	margin: 0px 10% 0px 10%;
	padding-right: 2%;
	padding-left: 1%;
	min-height: 200px;
}
@media screen and (max-width: 1400px){
	#bullecontacttab{ display: block; }}
@media screen and (max-width: 950px){
	#bullecontacttab{ display: none; }}

#bullecontacttel{
	display: none;
	margin: 0px 10% 0px 10%;
	padding-right: 2%;
	padding-left: 1%;
	min-height: 200px;
}
@media screen and (max-width: 950px){
	#bullecontacttel{ 
		display: block;
		margin: 0px 3% 0px 3%; 
		min-height: 120px;
	}}
@media screen and (max-width: 500px){
	#bullecontacttel{ font-size:0.8em }}


#conf{
	display: block;
	background-color: rgba(0, 204, 102, 0.3);
	border: 1px solid #00cc66 ;
	padding: 5px;
	text-align: center;
	margin: auto;
}

