/*================================================================================================================================================================*/
/*================================================================================================================================================================*/
/*=================================================================================================================================================== MAIN =======*/




.bullehome{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.5);
}

.gridconteneur1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}

.bulle1{
	grid-row-start: 1;
	grid-row-end: 3;
}

.bulle2{
	background-image: url("../pages/sommaire/image/illu-chart.jpg") ;
	background-size: cover;
	background-position: center;
	height: 210px;
}



/*==================================== BULLE 1 =======*/



.bandeau1{
	display: block;
	width: 100%;
	height: 70px;
	background-color: #eaba2a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 0px 2px rgba(48, 48, 48, 0.5);
}

.titrebulle1{
	font-family: alkatra;
	font-weight: 700;
	margin-left: 10px;
	font-size: 1.8em;	
	line-height: 2;
	color: white;
	text-decoration: underline;
}
.titrebulle1:hover{color: #D89C23}

.ulbulle1{
	list-style-type: none;
	padding: 10px 20px 0px 20px;
	margin: 0px;
	line-height: 1.8;
	font-size: 1.4em;
	font-family: overlock;
}

.abulle1{
	text-decoration: none;
	color: black;
}
.abulle1:hover{
	color: gray;
}



/*==================================== BULLE 2 =======*/



.bandeau2{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0px 10px 0px 10px ;
	background-color: #eaba2a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 0px 2px rgba(48, 48, 48, 0.5);
}



.titrebulle2{
	font-family: alkatra;
	font-weight: 700;
	font-size: 1.6em;	
	line-height: 1.7;
	color: white;
	text-decoration: underline;
}
.titrebulle2:hover{color: #D89C23}

.txtbulle2{
	display: inline;
	margin: auto;
	text-align: center;
	font-family: overlock;
	font-size: 1em;
}


/*==================================== BULLE 3 =======*/


.titrebulle3{
	font-family: alkatra;
	font-weight: 700;
	font-size: 1.6em;	
	line-height: 1.7;
	color: white;
	text-decoration: underline;
}

.cntbulle3{
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 1760px){
	.bandeau2{height: 80px}}


@media screen and (max-width: 950px){
	.sectionpc{display: none;}}





/*============================================================================================= MENU TELEPHONE =======*/

/*==================================== BULLE 1 TEL =======*/


.bandeau1tel{
	display: block;
	width: 100%;
	height: 50px;
	background-color: #eaba2a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 0px 2px rgba(48, 48, 48, 0.5);
}

.titrebulle1tel{
	font-family: alkatra;
	font-weight: 700;
	margin-left: 10px;
	font-size: 1.5em;	
	line-height: 1.8;
	color: white;
	text-decoration: underline;
}

.ulbulle1tel{
	list-style-type: none;
	padding: 10px 20px 0px 20px;
	margin: 0px;
	line-height: 1.8;
	font-size: 1em;
	font-family: overlock;
}

.abulle1tel{
	text-decoration: none;
	color: black;
}


/*==================================== BULLE 2/3 TEL =======*/


.bandeau2tel1{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0px 10px 0px 10px ;
	background-color: #eaba2a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 0px 2px rgba(48, 48, 48, 0.5);
}

.bandeau2tel2{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	padding: 0px 10px 0px 10px ;
	background-color: #eaba2a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 0px 2px rgba(48, 48, 48, 0.5);
}

.titrebulle2tel{
	font-family: alkatra;
	font-weight: 700;
	font-size: 1.4em;	
	line-height: 1.7;
	color: white;
	text-decoration: underline;
}

.txtbulle2tel{
	display: inline;
	margin: auto;
	text-align: center;
	font-family: overlock;
	font-size: 0.9em;
}

@media screen and (max-width: 662px){
	.querry1{display: none;}}

@media screen and (min-width: 664px){
	.querry2{display: none;}}


@media screen and (min-width: 950px){
	.sectiontel{display: none;}}






